[submodule "projects/bin4dec"]
	path = projects/bin4dec
	url = git@github.com:LucasSantus/bin4dec.git
[submodule "projects/gallery-images"]
	path = projects/gallery-images
	url = git@github.com:LucasSantus/gallery-images.git
[submodule "projects/spotify"]
	path = projects/spotify
	url = git@github.com:LucasSantus/spotify.git
