{% for author in site.data.home.author %}
    <div class="sidebar-info">
        <figure class="avatar-box">
            <img src="{{ author.image }}" alt="{{ author.name }}" width="80" style="border-radius: 2rem; padding: .2rem;">
        </figure>
        <div class="info-content">
            <h1 class="name" title="{{ author.name }}">{{ author.name }}</h1>
            <p class="title">{{ author.job }}</p>
        </div>
        <button class="info_more-btn" data-sidebar-btn>
            <span>Ver Dados</span>
            <ion-icon name="chevron-down"></ion-icon>
        </button>
    </div>

    <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">
            {% for contact in author.list_contact %}
                <li class="contact-item">
                    <div class="icon-box">
                        <ion-icon name="{{ contact.icon }}"></ion-icon>
                    </div>
                    <div class="contact-info">
                        <p class="contact-title">{{ contact.title }}</p>
                        <p class="contact-link">{{ contact.description }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="separator"></div>

        <ul class="social-list">
            {% for social in author.social_media %}
                <li class="social-item">
                    <a href="{{ social.url }}" class="social-link">
                        <ion-icon name="logo-{{ social.icon }}"></ion-icon>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% break %}
{% endfor %}