<!DOCTYPE html>

<html lang="pt-BR">

    <!-- BEGIN: HEAD -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- URL Project -->
        <link rel="canonical" href="https://lucassantus.github.io/portfolio/"/>

        <!-- Description Project -->
        <meta name="author" content="Lucas Eduardo de Oliveira Santos">
        <meta name="description" content="Site construído para manter futuras postagens de projetos pessoais.">

        <!-- Import Favicon -->
        <link rel="shortcut icon" href="assets/images/logo.svg" type="image/x-icon">

        <!-- BEGIN: CSS -->
            <!-- Import CSS Custom -->
            <link rel="stylesheet" href="assets/css/styles.min.css">

            <!-- Import Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
        <!-- END: CSS -->

        <!-- Name Page -->
        <title>Portfolio Pessoal</title>
    </head>
    <!-- END: HEAD -->

    <!-- BEGIN: BODY -->
    <body>
        <!-- BEGIN: MAIN -->
        <main>
            {{ content }}
        </main>
        <!-- END: MAIN -->

        <!-- BEGIN: SCRIPTS -->

        <script src="assets/js/scripts.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <!-- END: SCRIPTS -->
    </body>
</html>