<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Portfolio Pessoal</title>

        <link rel="shortcut icon" href="assets/images/logo.ico" type="image/x-icon">

        <link rel="stylesheet" href="assets/css/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    </head>

    <body>
        <main>
            {% for author in site.data.home.author %}
                <aside class="sidebar" data-sidebar>
                    <div class="sidebar-info no-select-text">
                        <figure class="avatar-box">
                            <img src="{{ author.image }}" alt="{{ author.name }}" width="80" style="border-radius: 2rem; padding: .2rem;">
                        </figure>
                        <div class="info-content">
                            <h1 class="name" title="{{ author.name }}">{{ author.name }}</h1>
                            <p class="title">{{ author.job }}</p>
                        </div>
                        <button class="info_more-btn" data-sidebar-btn>
                            <span>Ver Dados</span>
                            <ion-icon name="chevron-down"></ion-icon>
                        </button>
                    </div>
                
                    <div class="sidebar-info_more">
                
                        <div class="separator"></div>
                
                        <ul class="contacts-list">

                            <!-- MÍDIAS SOCIAIS -->
                            {% include list_contacts.html collection=author.contacts %}
                        
                        </ul>
                
                        <div class="separator"></div>
                
                        <ul class="social-list">

                            <!-- MÍDIAS SOCIAIS -->
                            {% include list_social_medias.html collection=author.social_media %}

                        </ul>
                    </div>
                </aside>

                <div class="main-content">
                    <nav class="navbar">
                        <ul class="navbar-list">
                            <li class="navbar-item">
                                <button class="navbar-link active" data-nav-link>Sobre</button>
                            </li>
                            <li class="navbar-item">
                                <button class="navbar-link" data-nav-link>Resumo</button>
                              </li>
                            <li class="navbar-item">
                                <button class="navbar-link" data-nav-link>Projetos</button>
                            </li>
                            <li class="navbar-item">
                                <button class="navbar-link" data-nav-link>Habilidades</button>
                            </li>
                        </ul>
                    </nav>

                    <article class="about active" data-page="sobre">
                        <header>
                            <h2 class="h2 article-title">Sobre</h2>
                        </header>

                        <section class="about-text">
                            <p>
                                {{ author.description }}
                            </p>
                        </section>

                        <section class="service">
                            <h3 class="h3 service-title">Hobby</h3>
                            <ul class="service-list">

                                <!-- SERVIÇOS -->
                                {% include list_services.html collection=author.services %}

                            </ul>
                        </section>

                        <section class="testimonials">
                            <h3 class="h3">Destaques</h3>
                            <ul class="testimonials-list has-scrollbar no-select-text">
                                
                                <!-- PROJETOS DESTAQUES -->
                                {% include list_projects_highlights.html collection=site.data.home.projects %}

                            </ul>
                        </section>

                        <!-- BEGIN: MODAL -->
                            <div class="modal-container" data-modal-container>
                                <div class="overlay" data-overlay></div>
                                <section class="testimonials-modal">
                                    <button class="modal-close-btn" data-modal-close-btn>
                                        <ion-icon name="close-outline"></ion-icon>
                                    </button>
                            
                                    <div class="modal-img-wrapper">
                                        <figure class="modal-avatar-box">
                                            <img style="display: none;" data-modal-img>
                                        </figure>
                                    </div>
                            
                                    <div class="modal-content">
                                        <h4 class="h3 modal-title" data-modal-title>{{ item.title }}</h4>
                                        <time datetime="2021-06-14"></time>
                                        <div data-modal-text>
                                            <p></p>
                                        </div>
                                        <a href="{{ item.url | relative_url }}">Ver Mais</a>
                                    </div>
                                </section>
                            </div>
                        <!-- END: MODAL -->
                    </article>

                    <article class="resume" data-page="resumo">
                        <header>
                            <h2 class="h2 article-title">Resumo</h2>
                        </header>

                        {% for resume in author.resumes %}
                            <section class="timeline">
                                <div class="title-wrapper">
                                    <div class="icon-box">
                                        <ion-icon name="book-outline"></ion-icon>
                                    </div>
                                    <h3 class="h3">{{ resume.title }}</h3>
                                </div>
                    
                                <ol class="timeline-list">
                                    {% for job in resume.jobs %}
                                        <li class="timeline-item">
                                            <h4 class="h4 timeline-item-title">{{ job.title }}</h4>
                                            <span>{{ job.starting_year }} - {% if job.end_year %} {{ job.end_year }} {% else %} Até o Momento {% endif %}</span>
                                            <p class="timeline-text">{{ job.description }}</p>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </section>
                        {% endfor %}
                    </article>

                    <article class="portfolio" data-page="projetos">
                        <header>
                          <h2 class="h2 article-title">Projetos</h2>
                        </header>
                
                        <section class="projects">
                            <ul class="filter-list">
                                <li class="filter-item">
                                    <button class="active" data-filter-btn>All</button>
                                </li>

                                {% for category in site.data.home.categories %}
                                    <li class="filter-item">
                                        <button data-filter-btn>{{ category.title }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                
                            <div class="filter-select-box">
                                <button class="filter-select" data-select>
                                    <div class="select-value" data-selecct-value>Select category</div>
                                    <div class="select-icon">
                                        <ion-icon name="chevron-down"></ion-icon>
                                    </div>
                                </button>
                    
                                <ul class="select-list">
                                    <li class="select-item">
                                        <button data-select-item>All</button>
                                    </li>

                                    {% for category in site.data.home.categories %}
                                        <li class="select-item">
                                            <button data-select-item>{{ category.title }}</button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            <ul class="project-list">
                                {% for project in site.data.home.projects %}
                                    <li class="project-item active" data-filter-item data-category="{{ project.category | downcase }}">
                                        <a href="#">
                                            <figure class="project-img">
                                                <div class="project-item-icon-box">
                                                    <ion-icon name="eye-outline"></ion-icon>
                                                </div>
                                                <img src="./assets/images/project-1.jpg" alt="{{ project.title }}" loading="lazy">
                                            </figure>
                                            <h3 class="project-title">{{ project.title }}</h3>
                                            <p class="project-category">{{ project.category }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </article>

                    <article class="portfolio" data-page="habilidades">
                        <header>
                            <h2 class="h2 article-title">Habilidades</h2>
                        </header>

                        <section class="skill">
                            <h3 class="h3" style="margin-bottom: 1rem;">Ferramentas Utilizadas</h3>
                            <ul class="skills-list content-card no-select-text">
                                {% for skill in author.skills %}
                                    <li class="skills-item">
                                        <h5 class="h5">{{ skill.title }}</h5>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="projects" style="display: none">
                            <ul class="filter-list">
                                <li class="filter-item">
                                    <button class="active" data-filter-btn>All</button>
                                </li>
                            </ul>

                            <div class="filter-select-box">
                                <button class="filter-select" data-select>
                                    <div class="select-value" data-selecct-value>Select category</div>
                                    <div class="select-icon">
                                        <ion-icon name="chevron-down"></ion-icon>
                                    </div>
                                </button>

                                <ul class="select-list">
                                    <li class="select-item">
                                        <button data-select-item>All</button>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </article>
                </div>
                {% break %}
            {% endfor %}
        </main>

        <!-- BEGIN: SCRIPTS -->

        <script src="/assets/js/scripts.js"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <!-- END: SCRIPTS -->
    </body>
</html>